# ADB - Tokyo
TNS_ADMIN=~/network/admin
DB_USER=XXXXXXXXX
DB_PASSWORD=XXXXXXXXXX
DB_DSN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# 埋め込みモデルの設定
EMBED_MODEL_PROVIDER=OCI
# OCI: cohere.embed-multilingual-image-v3.0
# CohereAI: embed-v4.0
EMBED_MODEL_ID=cohere.embed-multilingual-image-v3.0

# マルチモーダルLLM（VLM）の設定
MLLM_MODEL_PROVIDER=OCI
MLLM_MODEL_ID=meta.llama-4-maverick-17b-128e-instruct-fp8

# MLLM専用リージョン（オプション）
# イメージのバッチ登録で、MLLM_MODEL_PROVIDER=OCIでかつMLLMで異なるリージョンを使用したい場合のみ設定（Gradio UI では使用していない）
OCI_REGION_OVERRIDE_FOR_MLLM=us-chicago-1

# OCI Generative AI 設定
OCI_CONFIG_PROFILE=DEFAULT
OCI_CONFIG_FILE_LOCATION=~/.oci/config
OCI_REGION=ap-osaka-1
OCI_COMPARTMENT_ID=ocid1.compartment.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# MLLM専用リージョン（オプション）
# MLLM_MODEL_PROVIDER=OCIでかつMLLMで異なるリージョンを使用したい場合のみ設定
# OCI_REGION_OVERRIDE_FOR_MLLM=us-chicago-1

# Cohere Production (EMBED_MODEL_PROVIDER=CohereAIの場合に必要)
COHERE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Gradio
APP_MODE=remote
LOCAL_SHARE=false
LOCAL_INBROWSER=true
REMOTE_SHARE=false
REMOTE_SERVER_NAME=0.0.0.0
REMOTE_SERVER_PORT=8002