.venv/
old/
.cursor/
faces/
images/
images_original/
embeddings/
ecimages/
output/
prompts/
memo/
.env
.env_labuser
.env_devday25user
temp/
samples/
*.kv
*.npy
*.code-workspace
output.log
__pycache__
tests/__pycache__/
DevDay25マルチモーダルデモ環境構築.md
v2_0仕様/
.pytest_cache/
